## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [21]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

def get_phone_number(name):
    # Loop through all the contacts
    for contact in address_book:
        # Check if the contact's first name matches the name passed in
        if contact[0] == name.title() or contact[1] == name.title() or contact[0] + ' ' + contact[1] == name.title():
            # return the contact's phone number
            return contact[3]
    # If we go through the entire address book without finding the name, return -1
    return -1

        
get_phone_number('Hank')

'(555) 555-1234'

In [23]:
get_phone_number('Brian')

-1

In [19]:
# With tuples and lists, order matters so if the data is in a different order it will ruin our function

address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(455) 345-9384'),
    ('432 Sounds Ave', 'Mike', '(445) 444-3432', 'Wazowski')
]

def get_phone_number(name):
    # Loop through all the contacts
    for contact in address_book:
        # Check if the contact's first name matches the name passed in
        if contact[0] == name.title() or contact[1] == name.title() or contact[0] + ' ' + contact[1] == name.title():
            # return the contact's phone number
            return contact[3]
    # If we go through the entire address book without finding the name, return -1
    return -1

        
get_phone_number('Mike')

'Wazowski'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [27]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '1000 Rodeo Drive'
}

print(d3)
print(type(d3))


d4 = dict(name='Brian', city='Chicago', color='Blue')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '1000 Rodeo Drive'}
<class 'dict'>
{'name': 'Brian', 'city': 'Chicago', 'color': 'Blue'}
<class 'dict'>

##### Accessing Values

In [31]:
characters = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(characters)

# Accessing values in a list is done via Index Position
print(characters[2])

['Hank', 'Peter', 'Sydney', 'Tevin']
Sydney

In [32]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [33]:
# dict[key]
print(d3['Sydney'])

555 Santa Monica Blvd

In [34]:
print(d3['Hank'])

123 Real Street

In [36]:
print(d3['Tevin'])

1000 Rodeo Drive

In [42]:
print(d3['Brian'])

KeyError: 'Brian'

##### .get()

In [38]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [44]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))
print(d3.get('Peter', 'No Address Available'))

321 Fake Street
None
No Address Available
321 Fake Street

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [47]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck['year']} {truck.get('make')} {truck['model']}")
print(f'My favorite car is a {truck["year"]} {truck.get("make")} {truck["model"]}')

My favorite car is a 2018 Chevrolet Silverado
My favorite car is a 2018 Chevrolet Silverado

In [48]:
trucks = [
    {
        'year': 2018,
        'make': 'Chevrolet',
        'model': 'Silverado'
    },
    {
        'year': 2020,
        'make': 'Toyota',
        'model': 'Camry'
    },
    {
        'model': 'Civic',
        'year': 2017,
        'make': 'Honda'
    },
]


for truck in trucks:
    print(f"My favorite car is a {truck['year']} {truck.get('make')} {truck['model']}")

My favorite car is a 2018 Chevrolet Silverado
My favorite car is a 2020 Toyota Camry
My favorite car is a 2017 Honda Civic

##### Adding New Pairs

In [54]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [55]:
# dict[key] = value

d3['Zooey'] = '345 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '345 Main Street'}

In [56]:
d3.get('Zooey')

'345 Main Street'

##### Modifying Values

In [57]:
# dict[key] = value
d3['Zooey'] = '543 Second Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '543 Second Street'}

##### Removing Key, Value Pairs

In [58]:
# del dict[key]
del d3['Tevin']

In [59]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '543 Second Street'}

In [60]:
del d3['Tevin'] # KeyError

KeyError: 'Tevin'

In [62]:
addresses = []

addresses.append(d3['Hank'])

print(addresses)
print(d3)

['123 Real Street']
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Zooey': '543 Second Street'}

In [63]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [64]:
# dict.pop('key') - remove key,value pair - returns value back to caller
removed_value = d3.pop('Zooey')

print(removed_value)

print(d3)

543 Second Street
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [66]:
removed_value = d3.pop('Zooey', 'Not In Dictionary')

print(removed_value)

print(d3)

Not In Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [67]:
addresses.append(d3.pop('Peter'))

print(addresses)
print(d3)

['123 Real Street', '321 Fake Street']
{'Hank': '123 Real Street', 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [68]:
# Add some people back to the d3 dict
d3['Peter'] = '321 Fake Street'
d3['Zooey'] = '543 Second Street'
d3['Tevin'] = '1000 Rodeo Drive'

d3

{'Hank': '123 Real Street',
 'Sydney': '555 Santa Monica Blvd',
 'Peter': '321 Fake Street',
 'Zooey': '543 Second Street',
 'Tevin': '1000 Rodeo Drive'}

In [69]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [72]:
# .items()
print(d3)

print('\n')

print(d3.items())

{'Hank': '123 Real Street', 'Sydney': '555 Santa Monica Blvd', 'Peter': '321 Fake Street', 'Zooey': '543 Second Street', 'Tevin': '1000 Rodeo Drive'}


dict_items([('Hank', '123 Real Street'), ('Sydney', '555 Santa Monica Blvd'), ('Peter', '321 Fake Street'), ('Zooey', '543 Second Street'), ('Tevin', '1000 Rodeo Drive')])

In [74]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Zooey', '543 Second Street') <class 'tuple'>
('Tevin', '1000 Rodeo Drive') <class 'tuple'>

In [75]:
for key, value in d3.items():
    print(f"Key: {key} - Value: {value}")

Key: Hank - Value: 123 Real Street
Key: Sydney - Value: 555 Santa Monica Blvd
Key: Peter - Value: 321 Fake Street
Key: Zooey - Value: 543 Second Street
Key: Tevin - Value: 1000 Rodeo Drive

In [76]:
for name, address in d3.items():
    print(f"{name} lives at {address}")

Hank lives at 123 Real Street
Sydney lives at 555 Santa Monica Blvd
Peter lives at 321 Fake Street
Zooey lives at 543 Second Street
Tevin lives at 1000 Rodeo Drive

##### Looping Only Keys

In [77]:
d3

{'Hank': '123 Real Street',
 'Sydney': '555 Santa Monica Blvd',
 'Peter': '321 Fake Street',
 'Zooey': '543 Second Street',
 'Tevin': '1000 Rodeo Drive'}

In [78]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [79]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Sydney', 'Peter', 'Zooey', 'Tevin'])

In [80]:
for key in d3.keys():
    print(key)

Hank
Sydney
Peter
Zooey
Tevin

In [82]:
# Looping over the dictionary will loop over only the keys
for k in d3:
    print(k)

Hank
Sydney
Peter
Zooey
Tevin

In [84]:
# you can ALWAYS access the value of a dictionary from the key
for key in d3:
    print(key, d3[key])

Hank 123 Real Street
Sydney 555 Santa Monica Blvd
Peter 321 Fake Street
Zooey 543 Second Street
Tevin 1000 Rodeo Drive

##### Looping Only Values

In [85]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [86]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '555 Santa Monica Blvd', '321 Fake Street', '543 Second Street', '1000 Rodeo Drive'])

In [87]:
for val in d3.values():
    print(val)

123 Real Street
555 Santa Monica Blvd
321 Fake Street
543 Second Street
1000 Rodeo Drive

In [89]:
val = '321 Fake Street'
for key in d3.keys():
    if d3[key] == val:
        print(key)

Peter

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [91]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}


people2 = {
    'Brian': 'blue',
    'Sarah': 'brown',
    'Sam': 'green'
}

In [92]:
def print_people(a_dict):
    for key in a_dict:
        print(f"{key} has {a_dict[key]} eyes")

In [93]:
print_people(people)

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [94]:
print_people(people2)

Brian has blue eyes
Sarah has brown eyes
Sam has green eyes

##### List with Dictionaries

In [96]:
my_list = [1, 'hello', 1.23, True, len, {'title': 'Happy Thursday', 'body': 'Tomorrow is Friday!'}]
print(my_list)

[1, 'hello', 1.23, True, <built-in function len>, {'title': 'Happy Thursday', 'body': 'Tomorrow is Friday!'}]

In [109]:
print(my_list[5], type(my_list[5]))
print(my_list[5]['title'])

print(my_list[5].get('body'))
print(my_list[5].keys())

{'title': 'Happy Thursday', 'body': 'Tomorrow is Friday!'} <class 'dict'>
Happy Thursday
Tomorrow is Friday!
dict_keys(['title', 'body'])

##### List of Dictionaries

In [111]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'Barbie', 'director': 'Greta Gerwig', 'release_year': 2023}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'Barbie', 'director': 'Greta Gerwig', 'release_year': 2023}]
<class 'list'>

In [115]:
for m in movies:
    print(type(m))
    print(f"Title: {m.get('title')} - Directed By: {m.get('director')} - {m['release_year']}")

<class 'dict'>
Title: Inception - Directed By: Christopher Nolan - 2010
<class 'dict'>
Title: The Social Network - Directed By: David Fincher - 2010
<class 'dict'>
Title: Barbie - Directed By: Greta Gerwig - 2023

In [118]:
for m in movies:
    print(m, '\n')

{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}

{'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}

{'title': 'Barbie', 'director': 'Greta Gerwig', 'release_year': 2023}

In [122]:
print(d3)
d3

{'Hank': '123 Real Street', 'Sydney': '555 Santa Monica Blvd', 'Peter': '321 Fake Street', 'Zooey': '543 Second Street', 'Tevin': '1000 Rodeo Drive'}

{'Hank': '123 Real Street',
 'Sydney': '555 Santa Monica Blvd',
 'Peter': '321 Fake Street',
 'Zooey': '543 Second Street',
 'Tevin': '1000 Rodeo Drive'}

##### Dictionaries with Lists

In [129]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [10, 20, 30],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is NOT index-0 - this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))
print(random_data['list1'][1])

{'list1': [10, 20, 30], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[10, 20, 30] <class 'list'>
20

In [132]:
# lists can NOT be the key of a dictionary

dict_b = {
    [1, 2, 3]: 'hello'
}
# TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

##### Dictionaries with Dictionaries

In [133]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

In [137]:
print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>

In [143]:
print(my_shoppe['ice_cream']['chocolate'])
print(my_shoppe.get('milkshake').get('oreo'))

2.99
4.49

In [144]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [159]:
# How many years did Jimmy Smith work at AlphaInc?
print(f"{job_app['full_name']} worked at {job_app['experience'][1]['company']} for {len(job_app['experience'][1]['years_at_company'])} years")

Jimmy Smith worked at AlphaInc for 2 years

In [164]:
for i in range(len(job_app['experience'])):
    print(f"{job_app['full_name']} worked at {job_app['experience'][i]['company']} for {len(job_app['experience'][i]['years_at_company'])} years")

Jimmy Smith worked at Omnicorp for 4 years
Jimmy Smith worked at AlphaInc for 2 years

In [165]:
import requests

In [174]:
response = requests.get('https://pokeapi.co/api/v2/pokemon/pikachu')
data = response.json()

# print(data)

In [173]:
data['abilities'][0]['ability']['name']

'static'

In [178]:
# List Comprehension
# [transform iterable filter]

my_new_list = [x for x in range(1,11) if x % 2 == 0]
print(my_new_list)

[2, 4, 6, 8, 10]

In [179]:
my_old_dict = {}
for x in range(1,11):
    if x % 2 == 0:
        my_old_dict[x] = x**2
    
my_old_dict

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [180]:
# Dictionary Comprehension
# {transform key:vale iterable filter}
my_new_dict = {x: x**2 for x in range(1,11) if x % 2 == 0}
print(my_new_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [205]:
alphabet = []
for i in range(26):
    if i % 2 == 0:
        alphabet.append(chr(i + 97))
    
print(alphabet)

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [204]:
caps = [chr(i + 65) for i in range(26) if i % 2 == 0]
print(caps)

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [206]:
caps_dict = {i+65: chr(i + 65) for i in range(26) if i % 2 == 0}
print(caps_dict)

{65: 'A', 67: 'C', 69: 'E', 71: 'G', 73: 'I', 75: 'K', 77: 'M', 79: 'O', 81: 'Q', 83: 'S', 85: 'U', 87: 'W', 89: 'Y'}

In [207]:
lowers_dict = {i+97: chr(i+97) for i in range(26)}
print(lowers_dict)

{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [210]:
lowers_again = {}
for i in range(26):
    lowers_again[i+97] = chr(i+97)
    
lowers_again

{97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y',
 122: 'z'}

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [182]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [187]:
time.time()

1689880639.459434

In [191]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.002003192901611328
True
Elapsed time for list: 1.223952293395996

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [211]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [213]:
second_set = {3, 1, 5, 56}
print(second_set)
print(type(second_set))

{56, 1, 3, 5}
<class 'set'>

In [214]:
empty_set = {} # THIS WILL CREATE AN EMPTY DICTIONARY!
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [215]:
for element in second_set:
    print(element)

56
1
3
5

##### .add()

In [216]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [217]:
second_set.add(10)
print(second_set)

{1, 3, 5, 10, 56}

In [225]:
second_set.add(10)
print(second_set)

{1, 3, 5, 10, 56}

In [219]:
third_set = {1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3}

print(third_set)

{1, 2, 3}

##### .remove()

In [220]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [226]:
print(second_set)

{1, 3, 5, 10, 56}

In [227]:
second_set.remove(10)
print(second_set)

{1, 3, 5, 56}

In [222]:
second_set.remove('hello')

KeyError: 'hello'

In [230]:
# Sets can have any immutable type as a member - int, float, boolean, str, tuple, class objects, functions

# my_list_set = {[1, 2, 3]} # TypeError: unhashable type: 'list'

my_all_set = {1, 1.23, True, 'hello', (1, 2, 3), str, len}
print(my_all_set)

{1, 1.23, <class 'str'>, (1, 2, 3), 'hello', <built-in function len>}

In [231]:
my_set_of_sets = {{1, 2, 3}, {4, 5, 6}} # TypeError: unhashable type: 'set'

TypeError: unhashable type: 'set'

##### .union()

In [232]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [234]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR 

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [235]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [237]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

# OR

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [238]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [242]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}




s7 = s1.difference(s2)
print(s7)

s8 = s1 - s2
print(s8)


# ORDER MATTERS

s9 = s2.difference(s1)
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [243]:
# lists can contain sets

list_of_sets = [{'a', 'b', 'c'}, {1, 2, 3}]

print(list_of_sets)

[{'a', 'b', 'c'}, {1, 2, 3}]

In [247]:
# dictionary values can be sets

dict_with_a_set = {
    'a': {'hello', 'goodbye'},
    'b': {10, 20, 30}
}

print(dict_with_a_set)
type(dict_with_a_set['a'])

{'a': {'goodbye', 'hello'}, 'b': {10, 20, 30}}

set

In [248]:
broken_set1 = {[1, 2, 3]}

TypeError: unhashable type: 'list'

In [249]:
broken_set2 = {{'a': 123}}

TypeError: unhashable type: 'dict'

##### .clear()

In [250]:
# Empties the whole set
# set.clear()
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [252]:
nums = {34, 3534, 73564, 3244632, 345}

print(nums)

nums.clear()

print(nums)

{34, 3244632, 345, 73564, 3534}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [253]:
# frozenset is to set what tuple is to list
s3

{1, 2, 3, 4, 5, 6}

In [257]:
# frozenset([])
my_frozenset = frozenset(s3)
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

In [258]:
my_frozenset.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [259]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [261]:
my_set = frozenset({1, 2, 3})

a_dict_with_set_key = {
    my_set: 'Hello World'
}

print(a_dict_with_set_key)

{frozenset({1, 2, 3}): 'Hello World'}

In [263]:
# Set Comprehension - only difference from list comprehension is using {} instead of []

list_of_10 = [x for x in range(1,11)]
print(list_of_10)

set_of_10 = {x for x in range(1,11)}
print(set_of_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [264]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [267]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0005130767822265625
True
Elapsed time for list: 0.6872844696044922

In [269]:
user_response = input('Enter something: ')


count = 0
vowels = {'a', 'e', 'i', 'o', 'u'}
for letter in user_response:
    if letter.lower() in vowels:
        count += 1

print(f"There are {count} vowels in '{user_response}'")

Enter something: Enter
There are 2 vowels in 'Enter '

In [270]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [271]:
name = 'Brian'

hash(name)

-8718357422048580682

In [272]:
another_name = 'Brian'

hash(another_name)

-8718357422048580682

In [273]:
hash(9999999)

9999999

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [275]:
from IPython.display import clear_output


while True:
    ask = input('Enter something: ')
    if ask == 'quit':
        break
    elif ask == 'clear':
        clear_output()

Enter something: quit

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list/set/dict/tuple of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'

def get_common_times():
    pass


get_common_times(person1, person2, person3, person4) # '12:00', '14:30'

In [277]:
def test(arg1, *args):
    print
    print(args)
    
    
test(1, 2, 3, 4, 5)

(2, 3, 4, 5)