## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [21]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]

def get_phone_number(name):
    # Loop through all the contacts
    for contact in address_book:
        # Check if the contact's first name matches the name passed in
        if contact[0] == name.title() or contact[1] == name.title() or contact[0] + ' ' + contact[1] == name.title():
            # return the contact's phone number
            return contact[3]
    # If we go through the entire address book without finding the name, return -1
    return -1

        
get_phone_number('Hank')

'(555) 555-1234'

In [23]:
get_phone_number('Brian')

-1

In [19]:
# With tuples and lists, order matters so if the data is in a different order it will ruin our function

address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(455) 345-9384'),
    ('432 Sounds Ave', 'Mike', '(445) 444-3432', 'Wazowski')
]

def get_phone_number(name):
    # Loop through all the contacts
    for contact in address_book:
        # Check if the contact's first name matches the name passed in
        if contact[0] == name.title() or contact[1] == name.title() or contact[0] + ' ' + contact[1] == name.title():
            # return the contact's phone number
            return contact[3]
    # If we go through the entire address book without finding the name, return -1
    return -1

        
get_phone_number('Mike')

'Wazowski'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [27]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '1000 Rodeo Drive'
}

print(d3)
print(type(d3))


d4 = dict(name='Brian', city='Chicago', color='Blue')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '1000 Rodeo Drive'}
<class 'dict'>
{'name': 'Brian', 'city': 'Chicago', 'color': 'Blue'}
<class 'dict'>

##### Accessing Values

In [31]:
characters = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(characters)

# Accessing values in a list is done via Index Position
print(characters[2])

['Hank', 'Peter', 'Sydney', 'Tevin']
Sydney

In [32]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [33]:
# dict[key]
print(d3['Sydney'])

555 Santa Monica Blvd

In [34]:
print(d3['Hank'])

123 Real Street

In [36]:
print(d3['Tevin'])

1000 Rodeo Drive

In [42]:
print(d3['Brian'])

KeyError: 'Brian'

##### .get()

In [38]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [44]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))
print(d3.get('Peter', 'No Address Available'))

321 Fake Street
None
No Address Available
321 Fake Street

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [47]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck['year']} {truck.get('make')} {truck['model']}")
print(f'My favorite car is a {truck["year"]} {truck.get("make")} {truck["model"]}')

My favorite car is a 2018 Chevrolet Silverado
My favorite car is a 2018 Chevrolet Silverado

In [48]:
trucks = [
    {
        'year': 2018,
        'make': 'Chevrolet',
        'model': 'Silverado'
    },
    {
        'year': 2020,
        'make': 'Toyota',
        'model': 'Camry'
    },
    {
        'model': 'Civic',
        'year': 2017,
        'make': 'Honda'
    },
]


for truck in trucks:
    print(f"My favorite car is a {truck['year']} {truck.get('make')} {truck['model']}")

My favorite car is a 2018 Chevrolet Silverado
My favorite car is a 2020 Toyota Camry
My favorite car is a 2017 Honda Civic

##### Adding New Pairs

In [54]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive'}

In [55]:
# dict[key] = value

d3['Zooey'] = '345 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '345 Main Street'}

In [56]:
d3.get('Zooey')

'345 Main Street'

##### Modifying Values

In [57]:
# dict[key] = value
d3['Zooey'] = '543 Second Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '1000 Rodeo Drive',
 'Zooey': '543 Second Street'}

##### Removing Key, Value Pairs

In [58]:
# del dict[key]
del d3['Tevin']

In [59]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '543 Second Street'}

In [60]:
del d3['Tevin'] # KeyError

KeyError: 'Tevin'

In [62]:
addresses = []

addresses.append(d3['Hank'])

print(addresses)
print(d3)

['123 Real Street']
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Zooey': '543 Second Street'}

In [63]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [64]:
# dict.pop('key') - remove key,value pair - returns value back to caller
removed_value = d3.pop('Zooey')

print(removed_value)

print(d3)

543 Second Street
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [66]:
removed_value = d3.pop('Zooey', 'Not In Dictionary')

print(removed_value)

print(d3)

Not In Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [67]:
addresses.append(d3.pop('Peter'))

print(addresses)
print(d3)

['123 Real Street', '321 Fake Street']
{'Hank': '123 Real Street', 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [68]:
# Add some people back to the d3 dict
d3['Peter'] = '321 Fake Street'
d3['Zooey'] = '543 Second Street'
d3['Tevin'] = '1000 Rodeo Drive'

d3

{'Hank': '123 Real Street',
 'Sydney': '555 Santa Monica Blvd',
 'Peter': '321 Fake Street',
 'Zooey': '543 Second Street',
 'Tevin': '1000 Rodeo Drive'}

In [69]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [72]:
# .items()
print(d3)

print('\n')

print(d3.items())

{'Hank': '123 Real Street', 'Sydney': '555 Santa Monica Blvd', 'Peter': '321 Fake Street', 'Zooey': '543 Second Street', 'Tevin': '1000 Rodeo Drive'}


dict_items([('Hank', '123 Real Street'), ('Sydney', '555 Santa Monica Blvd'), ('Peter', '321 Fake Street'), ('Zooey', '543 Second Street'), ('Tevin', '1000 Rodeo Drive')])

In [74]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Zooey', '543 Second Street') <class 'tuple'>
('Tevin', '1000 Rodeo Drive') <class 'tuple'>

In [75]:
for key, value in d3.items():
    print(f"Key: {key} - Value: {value}")

Key: Hank - Value: 123 Real Street
Key: Sydney - Value: 555 Santa Monica Blvd
Key: Peter - Value: 321 Fake Street
Key: Zooey - Value: 543 Second Street
Key: Tevin - Value: 1000 Rodeo Drive

In [76]:
for name, address in d3.items():
    print(f"{name} lives at {address}")

Hank lives at 123 Real Street
Sydney lives at 555 Santa Monica Blvd
Peter lives at 321 Fake Street
Zooey lives at 543 Second Street
Tevin lives at 1000 Rodeo Drive

##### Looping Only Keys

In [77]:
d3

{'Hank': '123 Real Street',
 'Sydney': '555 Santa Monica Blvd',
 'Peter': '321 Fake Street',
 'Zooey': '543 Second Street',
 'Tevin': '1000 Rodeo Drive'}

In [78]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [79]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Sydney', 'Peter', 'Zooey', 'Tevin'])

In [80]:
for key in d3.keys():
    print(key)

Hank
Sydney
Peter
Zooey
Tevin

In [82]:
# Looping over the dictionary will loop over only the keys
for k in d3:
    print(k)

Hank
Sydney
Peter
Zooey
Tevin

In [84]:
# you can ALWAYS access the value of a dictionary from the key
for key in d3:
    print(key, d3[key])

Hank 123 Real Street
Sydney 555 Santa Monica Blvd
Peter 321 Fake Street
Zooey 543 Second Street
Tevin 1000 Rodeo Drive

##### Looping Only Values

In [85]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [86]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '555 Santa Monica Blvd', '321 Fake Street', '543 Second Street', '1000 Rodeo Drive'])

In [87]:
for val in d3.values():
    print(val)

123 Real Street
555 Santa Monica Blvd
321 Fake Street
543 Second Street
1000 Rodeo Drive

In [89]:
val = '321 Fake Street'
for key in d3.keys():
    if d3[key] == val:
        print(key)

Peter

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [ ]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}


# people2 = {
#     'Brian': 'blue',
#     'Sarah': 'brown',
#     'Sam': 'green'
# }

##### List with Dictionaries

##### List of Dictionaries

##### Dictionaries with Lists

In [ ]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

##### Dictionaries with Dictionaries

In [ ]:
# to get values, must traverse through keys

In [ ]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [ ]:
# How many years did Jimmy Smith work at AlphaInc?

In [ ]:
# List Comprehension
# [transform iterable filter]

In [ ]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [ ]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [ ]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

##### .add()

##### .remove()

##### .union()

In [ ]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

##### .intersection()

In [ ]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

##### .difference()

In [ ]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

##### .clear()

In [ ]:
# Empties the whole set
# set.clear()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [ ]:
# frozenset([])

In [ ]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [ ]:
from IPython.display import clear_output

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [ ]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'